.text-2xl {
    font-size: 25px !important;
}

.text-xl {
    font-size: 20px !important;
}

.text-l {
    font-size: 18px !important;
}

.text-m {
    font-size: 16px !important;
}

.text-s {
    font-size: 14px !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-underline {
    text-decoration: underline;
    cursor: pointer;
}

.text-white {
    color: whitesmoke;
}

h1 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

i {
    font-size: 20px;
}




